{{!< default}}

{{#post}}

    {{> post-meta}}

    <header class="animated fadeIn" {{#if feature_image}}style="background-image: url({{img_url feature_image}})"{{/if}}>
        <div class="container" data-stellar-ratio="0.75">
            {{> title}}
            {{> sidebar}}
        </div>
    </header>

    <div class="push-article">

{{! Temporary indentation shift for Handlebars issue }}
{{> content}}

    </div>

    {{!> comments}}

{{/post}}
